.card {
    max-height: 130px;
    max-width: 130px;
    width: 100%;
    min-height: 100px;
    border: 2px solid grey;
    border-radius: 4px;

    &--found {
        background-color: transparent;
        border: none;
    }

    &__img {
        width: 100%;
        height: auto;
        overflow: none;
        padding: 1rem;
    }
}
