.card {
    max-height: 130px;
    max-width: 130px;
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 4px;

    &__img {
        width: 100%;
        height: auto;
        overflow: none;
        padding: 1rem;
    }
}
