.header {
    width: 100%;
    height: 65px;
    background-color: #000;
    // -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    // box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
