.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 50px;
    padding: 50px;
    // display: flex;
    // flex-wrap: wrap;
    // padding: 0 4px;
}

.info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    &__button {
        padding: 5px 15px;
        border: 2px solid black;
        font-weight: bold;
        text-transform: uppercase;
    }
}
